.canvas {
  // border-right: 1px solid black;
  position: relative;
}

h4 {
  margin-bottom: 4em;
}

button {
  position: absolute;
  right: 5px;
  top: -50px;
}
.colors-canvas{
  width: 100%;
}

mat-icon {
  font-size: 14px;
}

.contairner-canvas-actions {
  display: flex;
  flex-direction: column;
}

.accionesCanvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.accionesCanvas mat-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start; // Añade esta línea
}


.accionesCanvas mat-list-item {
  flex: 1 1 148px; /* Aquí puedes ajustar el ancho mínimo de cada elemento */
  margin: 5px;
}

// .canvas {
//   width: 100%;
//   display: flex;
//   justify-content: center;

// }

// .canvasContainer {
//   border: 1px groove gray;
//   margin: 10px;
//   display: inline-flex;
// }
.canvas {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.canvasContainer {
  border: 1px groove gray;
  margin: 10px;
  display: inline-flex;
  max-width: 100%;
  max-height: 80vh;
}

@media only screen and (max-width: 1170px) {
  .accionesCanvas mat-list {
    display: flex;
    flex-wrap: wrap;
  }

  .accionesCanvas mat-list-item {
    // flex: 1 1 auto;
  }
}

/* Ajustar imagen al tamaño del canvas */
.canvas__content canvas {
  width: 70%;
}

/* Eliminar scroll horizontal en pantallas pequeñas */
// @media only screen and (max-width: 768px) {
//   .canvas {
//     overflow-x: hidden;
//   }
// }
@media only screen and (max-width: 768px) {
  .canvas__content canvas {
    width: 100%;
  }
}
@media only screen and (max-width: 1170px) {
  .accionesCanvas mat-list {
    display: flex;
    flex-wrap: wrap;
  }

  .accionesCanvas mat-list-item {
    // flex: 1 1 auto;
  }
}
