<mat-card class="main-card-vh-u">
  <div class="subtitle-container">
    <mat-icon>badge </mat-icon>
    <h2 class="subtitle-hv">Datos Vehículo</h2>
  </div>
  <mat-grid-list #grid [cols]="cols" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Consignación</mat-label>
        <input class="" matInput placeholder="Consignación"
        [pattern]="expresiones.numbersTextSpaces"
         [(ngModel)]="dataVh.consignacion"
         name="consignacion" #consignacion="ngModel"
         id="consignacion"/>

         <mat-hint  class="message-error"
         [class.invalid]="consignacion.invalid" *ngIf="consignacion.errors?.['pattern']">
           Consignación no válida, solo se permiten números y letras
        </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Retoma</mat-label>
        <input class="" matInput placeholder="Retoma"  [pattern]="expresiones.numbersTextSpaces"
        [(ngModel)]="dataVh.retoma"
        name="retoma" #retoma="ngModel"
         id="retoma"/>

         <mat-hint  class="message-error"
         [class.invalid]="retoma.invalid" *ngIf="retoma.errors?.['pattern']">
           Campo retoma no válido, solo se permiten números y letras.
        </mat-hint>

      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Otros</mat-label>
        <input class="" matInput placeholder="Otros"
        [pattern]="expresiones.numbersTextSpaces"
         [(ngModel)]="dataVh.otros"
         name="otros" #otros="ngModel"
         id="otros"/>

         <mat-hint  class="message-error"
         [class.invalid]="otros.invalid" *ngIf="otros.errors?.['pattern']">
           Campo otros no válido, solo se permiten números y letras.
        </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Placa</mat-label>
        <input class="" matInput placeholder="Placa"
        [pattern]="expresiones.numbersTextSpaces"
        [(ngModel)]="dataVh.placa"
        name="placa" #placa="ngModel"
        id="placa"/>

        <mat-hint  class="message-error"
        [class.invalid]="placa.invalid" *ngIf="placa.errors?.['pattern']">
          Campo placa no válido, solo se permiten números y letras.
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>


  </mat-grid-list>
  <mat-grid-list #grid [cols]="cols" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Interno </mat-label>
        <input class="" matInput placeholder="Interno"
        [pattern]="expresiones.numbersTextSpaces"
        [(ngModel)]="dataVh.interno"
        name="interno" #interno="ngModel"
        id="interno"/>

        <mat-hint  class="message-error"
        [class.invalid]="interno.invalid" *ngIf="interno.errors?.['pattern']">
          Campo interno no válido, solo se permiten números y letras.
       </mat-hint>


      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Asesor</mat-label>
        <input class="" matInput placeholder="Asesor"
        [(ngModel)]="dataVh.asesor"
         [pattern]="expresiones.numbersTextSpaces"
         name="asesor" #asesor="ngModel"
         id="asesor"
         />

         <mat-hint  class="message-error"
         [class.invalid]="asesor.invalid" *ngIf="asesor.errors?.['pattern']">
           Campo asesor no válido, solo se permiten números y letras.
        </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Sala</mat-label>
        <input class="" matInput placeholder="Sala"
        [pattern]="expresiones.numbersTextSpaces"
        [(ngModel)]="dataVh.sala"
         name="sala" #sala="ngModel"
         id="sala"
        />

        <mat-hint  class="message-error"
        [class.invalid]="sala.invalid" *ngIf="sala.errors?.['pattern']">
          Campo sala no válido, solo se permiten números y letras.
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha </mat-label>
        <input matInput [matDatepicker]="expedicion"
        required id="fechaVh" [(ngModel)]="dataVh.fecha"
        #fechaVh="ngModel"
        />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-error class="message-error"
        [class.invalid]="fechaVh.invalid"
        *ngIf="fechaVh.errors?.['required']">
          *La fecha de expedición es requerida.
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="expedicion"
        ></mat-datepicker-toggle>
        <mat-datepicker #expedicion></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>


  </mat-grid-list>
  <mat-grid-list #grid [cols]="cols" rowHeight="85px" gutterSize="10px">

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Hora</mat-label>
        <input class="" matInput  type="time" [(ngModel)]="dataVh.hora"/>


      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Marca</mat-label>
        <input class="" matInput placeholder="Marca"
         [(ngModel)]="dataVh.marca"
         [pattern]="expresiones.numbersTextSpaces"
         name="marca" #marca="ngModel"
         id="marca"
         />
         <mat-hint  class="message-error"
         [class.invalid]="marca.invalid" *ngIf="marca.errors?.['pattern']">
           Campo marca no válido, solo se permiten números y letras.
        </mat-hint>

      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Referencia</mat-label>
        <input class="" matInput placeholder="Referencia"
         [(ngModel)]="dataVh.referencia"
         [pattern]="expresiones.numbersTextSpaces"
         name="referencia" #referencia="ngModel"
         id="referencia"
         />
         <mat-hint  class="message-error"
         [class.invalid]="referencia.invalid" *ngIf="referencia.errors?.['pattern']">
           Campo referencia no válido, solo se permiten números y letras.
        </mat-hint>

      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Modelo</mat-label>
        <input class="" matInput placeholder="Modelo"
         [(ngModel)]="dataVh.modelo"
         [pattern]="expresiones.numbersTextSpaces"
         name="modelo" #modelo="ngModel"
         id="modelo"/>

         <mat-hint  class="message-error"
         [class.invalid]="modelo.invalid" *ngIf="modelo.errors?.['pattern']">
           Campo modelo no válido, solo se permiten números y letras.
        </mat-hint>

      </mat-form-field>
    </mat-grid-tile>


  </mat-grid-list>
  <mat-grid-list #grid [cols]="cols" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <fieldset>
       <div class="container-hv-radios">
         <mat-label>Combustible:</mat-label>
         <mat-radio-group aria-label="Select an option"  name="combustible"
         required id="combustible" color="primary" [(ngModel)]="dataVh.combustible">
           <mat-radio-button [value]="0">Gasolina</mat-radio-button>
           <mat-radio-button [value]="1">Diesel</mat-radio-button>

         </mat-radio-group>

       </div>
</fieldset>
</mat-grid-tile>

<mat-grid-tile>
 <mat-form-field appearance="outline">
   <mat-label>Kilometraje</mat-label>
   <input class="" matInput placeholder="Kilometraje" [(ngModel)]="dataVh.km"
   name="km" #km="ngModel"
   id="km"/>

   <mat-hint  class="message-error"
   [class.invalid]="km.invalid" *ngIf="km.errors?.['pattern']">
     Campo kilometraje no válido, solo se permiten números y letras.
  </mat-hint>

 </mat-form-field>
</mat-grid-tile>


    <mat-grid-tile>
    <fieldset>
      <div class="container-hv-radios">
        <mat-label>Transmisión:</mat-label>
        <mat-radio-group aria-label="Select an option"  name="transmision"
        required id="transmision" color="primary" [(ngModel)]="dataVh.transmision">
          <mat-radio-button [value]="0">Auto</mat-radio-button>
          <mat-radio-button [value]="1">Mec</mat-radio-button>

        </mat-radio-group>

      </div>
</fieldset>
</mat-grid-tile >

<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>Color</mat-label>
    <input class="" matInput placeholder="Color"
    [(ngModel)]="dataVh.color"
    [pattern]="expresiones.numbersTextSpaces"
    name="color" #color="ngModel"
   id="color"/>

   <mat-hint  class="message-error"
   [class.invalid]="color.invalid" *ngIf="color.errors?.['pattern']">
     Campo color no válido, solo se permiten números y letras.
  </mat-hint>
  </mat-form-field>
</mat-grid-tile>




  </mat-grid-list>

  <mat-grid-list #grid [cols]="cols" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Cilindraje</mat-label>
        <input class="" matInput placeholder="Cilindraje"
         [(ngModel)]="dataVh.cilindraje"
         [pattern]="expresiones.numbersTextSpaces"
         name="cilindraje" #cilindraje="ngModel"
         id="cilindraje"
         />
         <mat-hint  class="message-error"
         [class.invalid]="cilindraje.invalid" *ngIf="cilindraje.errors?.['pattern']">
           Campo cilindraje no válido, solo se permiten números y letras.
        </mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <fieldset>
       <div class="container-hv-radios">
         <mat-label>Tracción:</mat-label>
         <mat-radio-group aria-label="Select an option"  name="traccion"
         required id="traccion" color="primary" [(ngModel)]="dataVh.traccion">
           <mat-radio-button [value]="0">4x2</mat-radio-button>
           <mat-radio-button [value]="1">4x4</mat-radio-button>

         </mat-radio-group>

       </div>
    </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <mat-label>Cojineria:</mat-label>
          <mat-radio-group aria-label="Select an option"  name="cojineria"
          required id="cojineria" color="primary" [(ngModel)]="dataVh.cojineria">
            <mat-radio-button [value]="0">Tela</mat-radio-button>
            <mat-radio-button [value]="1">Cuero</mat-radio-button>

          </mat-radio-group>

        </div>
     </fieldset>
   </mat-grid-tile>

    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <mat-label>Línea:</mat-label>
          <mat-radio-group aria-label="Select an option"  name="linea"
          required id="linea" color="primary" [(ngModel)]="dataVh.linea">
            <mat-radio-button [value]="0">NB</mat-radio-button>
            <mat-radio-button [value]="1">HB</mat-radio-button>
            <mat-radio-button [value]="2">QP</mat-radio-button>

          </mat-radio-group>

        </div>
     </fieldset>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>

<mat-card class="main-card-vh-u card-canvas">
  <app-vehicle-state-field class="canvasContainer"></app-vehicle-state-field>
</mat-card>


  <mat-card class="main-card-vh-u">
    <div class="title-cb-card">

      <h2 class="titulo-p-llanta">LLantas</h2>
  </div>
  <div class="">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="label">
        <mat-header-cell *matHeaderCellDef> Etiqueta </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="vida_llanta">
        <mat-header-cell *matHeaderCellDef> Vida de la llanta </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 0">
            <!-- <mat-form-field appearance="outline"> -->
            <input matInput
            [(ngModel)]="dataVh.porcllantadelizq"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    [pattern]="expresiones.numsPorc"   type="number"
                    name="porcllantadelizq" #porcllantadelizq="ngModel"
                    id="porcllantadelizq"/>
                    <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcllantadelizq.invalid" *ngIf="porcllantadelizq.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 1">
            <input matInput
            [(ngModel)]="dataVh.porcllantadelder"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
            [pattern]="expresiones.numsPorc"   type="number"
                    name="porcllantadelder" #porcllantadelder="ngModel"
                    id="porcllantadelder"/>
                     <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcllantadelder.invalid" *ngIf="porcllantadelder.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 2">
            <input matInput
            [(ngModel)]="dataVh.porcllantatraizq"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
            [pattern]="expresiones.numsPorc"   type="number"
                    name="porcllantatraizq" #porcllantatraizq="ngModel"
                    id="porcllantatraizq"/>
                     <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcllantatraizq.invalid" *ngIf="porcllantatraizq.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 3">
            <input matInput
            [(ngModel)]="dataVh.porcllantatrader"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    [pattern]="expresiones.numsPorc"   type="number"
                    name="porcllantatrader" #porcllantatrader="ngModel"
                    id="porcllantatrader"/>
                     <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcllantatrader.invalid" *ngIf="porcllantatrader.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 4">
            <input matInput
            [(ngModel)]="dataVh.porcrep"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    [pattern]="expresiones.numsPorc"   type="number"
                    name="porcrep" #porcrep="ngModel"
                    id="porcrep"/>
                     <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcrep.invalid" *ngIf="porcrep.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>
      </mat-form-field>
          <!-- </mat-form-field> -->
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="marca">
        <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <mat-form-field class="matFieldTable" appearance="outline">
            <input matInput type="text"
            [(ngModel)]="dataVh.marcallantadelizq" *ngIf="i === 0"
                 [pattern]="expresiones.numbersTextSpaces"
                    name="marcallantadelizq" #marcallantadelizq="ngModel"
                    id="marcallantadelizq"/>
            <input matInput type="text"
            [(ngModel)]="dataVh.marcallantadelder" *ngIf="i === 1"
                 [pattern]="expresiones.numbersTextSpaces"
                    name="marcallantadelder" #marcallantadelder="ngModel"
                    id="marcallantadelder"/>
            <input matInput type="text"
            [(ngModel)]="dataVh.marcallantatraizq" *ngIf="i === 2"
                 [pattern]="expresiones.numbersTextSpaces"
                    name="marcallantatraizq" #marcallantatraizq="ngModel"
                    id="marcallantatraizq"/>
            <input matInput type="text"
            [(ngModel)]="dataVh.marcallantatrader" *ngIf="i === 3"
                 [pattern]="expresiones.numbersTextSpaces"
                    name="marcallantatrader" #marcallantatrader="ngModel"
                    id="marcallantatrader"/>
            <input matInput type="text"
            [(ngModel)]="dataVh.marcarep" *ngIf="i === 4"
                 [pattern]="expresiones.numbersTextSpaces"
                    name="marcarep" #marcarep="ngModel"
                    id="marcarep"/>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  </mat-card>


  <mat-card class="main-card-vh-u">
    <div class="title-cb-card">

      <h2 class="titulo-p-llanta">Rines</h2>
  </div>
  <div class="">
    <mat-table [dataSource]="dataSourceRines">
      <ng-container matColumnDef="labelRin">
        <mat-header-cell *matHeaderCellDef> Etiqueta </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.labelRin}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="rin">
        <mat-header-cell *matHeaderCellDef> Rin </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 0">
            <input matInput  [(ngModel)]="dataVh.porcrindelizq"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              [pattern]="expresiones.numsPorc"   type="number"

               name="porcrindelizq" #porcrindelizq="ngModel"
                    id="porcrindelizq"/>
                    <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcrindelizq.invalid" *ngIf="porcrindelizq.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>

                  </mat-form-field>
                  <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 1">
            <input matInput  [(ngModel)]="dataVh.porcrindelder"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              [pattern]="expresiones.numsPorc"   type="number"

               name="porcrindelder" #porcrindelder="ngModel"
                    id="porcrindelder"/>
                    <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcrindelder.invalid" *ngIf="porcrindelder.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>
                    </mat-form-field>
      <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 2">
            <input matInput  [(ngModel)]="dataVh.porcrintraizq"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              [pattern]="expresiones.numsPorc"   type="number"

               name="porcrintraizq" #porcrintraizq="ngModel"
                    id="porcrintraizq"/>
                    <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcrintraizq.invalid" *ngIf="porcrintraizq.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>
                    </mat-form-field>
      <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 3">
            <input matInput  [(ngModel)]="dataVh.porcrintrader"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              [pattern]="expresiones.numsPorc"   type="number"

               name="porcrintrader" #porcrintrader="ngModel"
                    id="porcrintrader"/>
                    <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcrintrader.invalid" *ngIf="porcrintrader.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>
                    </mat-form-field>
      <mat-form-field class="matFieldTable example-full-width" appearance="outline" *ngIf="i === 4">
            <input matInput  [(ngModel)]="dataVh.porcrinrep"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              [pattern]="expresiones.numsPorc"   type="number"

               name="porcrinrep" #porcrinrep="ngModel"
                    id="porcrinrep"/>
                    <mat-icon matSuffix>percent</mat-icon>
                     <mat-hint  class="message-error"
         [class.invalid]="porcrinrep.invalid" *ngIf="porcrinrep.errors?.['pattern']">
           En este campo solo están permitidos los números enteros de 0 a 100.
        </mat-hint>
                    </mat-form-field>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tapa">
        <mat-header-cell *matHeaderCellDef> Tapa </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <mat-form-field class="matFieldTable" appearance="outline">
            <input matInput type="text" [(ngModel)]="dataVh.taparindelizq" *ngIf="i === 0" />
            <input matInput type="text" [(ngModel)]="dataVh.taparindelder" *ngIf="i === 1" />
            <input matInput type="text" [(ngModel)]="dataVh.taparintraizq" *ngIf="i === 2" />
            <input matInput type="text" [(ngModel)]="dataVh.taparintrader" *ngIf="i === 3" />
            <input matInput type="text" [(ngModel)]="dataVh.taparinrep" *ngIf="i === 4" />
          </mat-form-field>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="marcaRin">
        <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <mat-form-field class="matFieldTable" appearance="outline">
            <input matInput type="text" [(ngModel)]="dataVh.marcarindelizq" *ngIf="i === 0" />
            <input matInput type="text" [(ngModel)]="dataVh.marcarindelder" *ngIf="i === 1" />
            <input matInput type="text" [(ngModel)]="dataVh.marcarintraizq" *ngIf="i === 2" />
            <input matInput type="text" [(ngModel)]="dataVh.marcarintrader" *ngIf="i === 3" />
            <input matInput type="text" [(ngModel)]="dataVh.marcarinrep" *ngIf="i === 4" />
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsRines"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsRines;"></mat-row>
    </mat-table>
  </div>
  </mat-card>

  <mat-card class="main-card-vh-u">
    <div class="subtitle-container">
      <mat-icon>badge </mat-icon>
      <h2 class="subtitle-hv">Documentos</h2>
    </div>
  <mat-grid-list #grid [cols]="colsTrp" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <mat-label>Matrícula:</mat-label>
          <mat-radio-group aria-label="Select an option"  name="matricula"
          required id="matricula" color="primary" [(ngModel)]="dataVh.matricula">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <mat-label>SOAT:</mat-label>
          <mat-radio-group aria-label="Select an option"  name="soat"
          required id="soat" color="primary" [(ngModel)]="dataVh.soat">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <mat-label>RTM:</mat-label>
          <mat-radio-group aria-label="Select an option"  name="rtm"
          required id="rtm" color="primary" [(ngModel)]="dataVh.rtm">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Observaciones</mat-label>
    <textarea matInput placeholder="Observaciones" id="notas" [(ngModel)]="dataVh.notas"></textarea>
  </mat-form-field>
  </mat-card>


  <mat-card class="main-card-vh-u">
    <div class="subtitle-container">
      <mat-icon><span class="material-symbols-outlined">
        home_repair_service
        </span> </mat-icon>
      <h2 class="subtitle-hv">Accesorios</h2>
    </div>
  <mat-grid-list #grid [cols]="colsTrp" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
         <img  class="image_radios" src="/assets/images/llave.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incllave"
          required id="incllave" color="primary" [(ngModel)]="dataVh.incllave">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <img  class="image_radios" src="/assets/images/llaveRepuesto.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="increpllave"
          required id="increpllave" color="primary" [(ngModel)]="dataVh.increpllave">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <img  class="image_radios" src="/assets/images/manual.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incmanual"
          required id="incmanual" color="primary" [(ngModel)]="dataVh.incmanual">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list #grid [cols]="colsTrp" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
         <img  class="image_radios" src="/assets/images/encendedor.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incencendedor"
          required id="incencendedor" color="primary" [(ngModel)]="dataVh.incencendedor">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <img  class="image_radios" src="/assets/images/cruceta.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="inccruceta"
          required id="inccruceta" color="primary" [(ngModel)]="dataVh.inccruceta">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <img  class="image_radios" src="/assets/images/llavepernos.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incllave_tipo1"
          required id="incllave_tipo1" color="primary" [(ngModel)]="dataVh.incllave_tipo1">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list #grid [cols]="colsTrp" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
         <img  class="image_radios" src="/assets/images/manivela.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incllave_tipo2"
          required id="incllave_tipo2" color="primary" [(ngModel)]="dataVh.incllave_tipo2">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <img  class="image_radios" src="/assets/images/gato.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incgato"
          required id="incgato" color="primary" [(ngModel)]="dataVh.incgato">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <img  class="image_radios" src="/assets/images/herramientas.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="inckith"
          required id="inckith" color="primary" [(ngModel)]="dataVh.inckith">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list #grid [cols]="colsTrp" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
         <img  class="image_radios" src="/assets/images/antena.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incantena"
          required id="incantena" color="primary" [(ngModel)]="dataVh.incantena">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <img  class="image_radios" src="/assets/images/cubremaletero.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incmaletero"
          required id="incmaletero" color="primary" [(ngModel)]="dataVh.incmaletero">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
         <img  class="image_radios" src="/assets/images/bateria.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incbateria"
          required id="incbateria" color="primary" [(ngModel)]="dataVh.incbateria">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list #grid [cols]="colsTrp" rowHeight="85px" gutterSize="10px">

    <mat-grid-tile>
      <fieldset>
        <div class="container-hv-radios">
          <img  class="image_radios" src="/assets/images/radio.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="incradio"
          required id="incradio" color="primary" [(ngModel)]="dataVh.incradio">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

      <!-- <fieldset>
        <div class="container-hv-radios">
          <img  class="image_radios" src="/assets/images/gasolina.png" alt="">
          <mat-radio-group aria-label="Select an option"  name="rtm"
          required id="rtm" color="primary">
            <mat-radio-button [value]="1">Si</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>

          </mat-radio-group>

        </div>
      </fieldset> -->
    </mat-grid-tile>


  </mat-grid-list>
  <mat-grid-list #grid [cols]="colsDouble" rowHeight="25em" gutterSize="10px">
    <mat-grid-tile>  <section>
      <div class="fuel__meter">
        <div class="meter__value">
          <div class="meter__image">
            <img [src]="this.image" alt="meter image">
          </div>
          <mat-radio-group aria-labelledby="radio-group-label"
          class="radio-group-label" [(ngModel)]="dataVh.nivelcombustible">
          <div class="radio-group-container">
          <mat-radio-button class="radio"
          *ngFor="let item of levels; let isFirst = first"
          [value]="item.id"
          (change)="onSelectedImage(item.id)"
          [ngClass]="{'first-radio': isFirst}">
            {{item.label}}
          </mat-radio-button>
        </div>
          </mat-radio-group>
        </div>

      </div>
    </section>
  </mat-grid-tile>
    <mat-grid-tile>  <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Observaciones</mat-label>
      <textarea matInput placeholder="Observaciones" [(ngModel)]="dataVh.notasdoc"></textarea>
    </mat-form-field> </mat-grid-tile>
  </mat-grid-list>


  </mat-card>

  <mat-card class="main-card-vh-u">
  <mat-grid-list #grid [cols]="colsDouble" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nombre de quien deja el vehículo</mat-label>
        <input class="" matInput placeholder="Nombre de quien deja el vehículo"
        [(ngModel)]="dataVh.clientrega"
        name="clientrega" #clientrega="ngModel"
        id="clientrega"
        />
        <mat-hint  class="message-error"
        [class.invalid]="clientrega.invalid" *ngIf="clientrega.errors?.['pattern']">
          Campo Nombre Entrega no válido, solo se permiten números y letras.
       </mat-hint>


      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha Entrada</mat-label>
        <input matInput [matDatepicker]="fechaEntrada"
        required id="fechaEntrada" [(ngModel)]="dataVh.fechaentrada"/>
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-error class="message-error">
          *La fecha de expedición es requerida.
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="fechaEntrada"
        ></mat-datepicker-toggle>
        <mat-datepicker #fechaEntrada></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    </mat-grid-list>

  <mat-grid-list #grid [cols]="colsDouble" rowHeight="230px" gutterSize="10px">


    <mat-grid-tile>
      <div class="input-field col s12 l6 sign6column signature">
        <label>Firma de quien deja el vehículo</label>
        <app-signature-field #signature ></app-signature-field>
      </div>

    </mat-grid-tile>

    <mat-grid-tile>
      <div class="input-field col s12 l6 sign6column signature">
        <label>Firma recibido por empleado Casa Británica</label>
        <app-signature-field #signature ></app-signature-field>
      </div>

    </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list #grid [cols]="colsDouble" rowHeight="85px" gutterSize="10px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre de quien recibe el vehículo</mat-label>
          <input class="" matInput placeholder="Nombre de quien recibe el vehículo"
          [(ngModel)]="dataVh.clirecibe"
          name="clirecibe" #clirecibe="ngModel"
          id="clirecibe"
          />
          <mat-hint  class="message-error"
          [class.invalid]="clirecibe.invalid" *ngIf="clirecibe.errors?.['pattern']">
            Campo Nombre Recibe no válido, solo se permiten números y letras.
         </mat-hint>


        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Fecha Salida</mat-label>
          <input matInput [matDatepicker]="fechaSalida"
          required id="fechaSalida" [(ngModel)]="dataVh.fechasalida"/>
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-error class="message-error">
            *La fecha de expedición es requerida.
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="fechaSalida"
          ></mat-datepicker-toggle>
          <mat-datepicker #fechaSalida></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      </mat-grid-list>

    <mat-grid-list #grid [cols]="colsDouble" rowHeight="230px" gutterSize="10px">


      <mat-grid-tile>
        <div class="input-field col s12 l6 sign6column signature">
          <label>Firmade quien recibe el vehículo</label>
          <app-signature-field #signature ></app-signature-field>
        </div>

      </mat-grid-tile>

      <mat-grid-tile>
        <div class="input-field col s12 l6 sign6column signature">
          <label>Firma de entrega por empleado Casa Británica</label>
          <app-signature-field #signature ></app-signature-field>
        </div>

      </mat-grid-tile>
      </mat-grid-list>
  <!-- <mat-grid-list #grid [cols]="colsDouble" rowHeight="85px" gutterSize="10px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nombre de quien deja el vehículo</mat-label>
        <input class="" matInput placeholder="Nombre de quien deja el vehículo" />


      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha Entrada</mat-label>
        <input matInput [matDatepicker]="fechaEntrada"
        required id="fechaEntrada"/>
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-error class="message-error">
          *La fecha de expedición es requerida.
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="fechaEntrada"
        ></mat-datepicker-toggle>
        <mat-datepicker #fechaEntrada></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    </mat-grid-list>-->

    <div class="step-btn-container">
      <button type="button" class="stepper-main-btn" mat-button (click)="sendForm()" >
        Enviar Formulario
      </button>


    </div>
    </mat-card>

