
.main-card-vh-u{
  margin: 1.2em 3em;
}
.canvasContainer[_ngcontent-ng-cli-universal-c176] {
  border: 1px groove gray;
  margin: 10px;
  display: inline-flex;
}
// .card-canvas{
//   height: 100%;
// }

// .mat-form-field {
//   display: flex;
//   align-items: center;
//   flex-direction: row;
//   // width: 100%;
//   // margin-bottom: 20px;
// }
.percentage-tires{
    margin-right: 2em;
    width: 100%;

}

.rines{
  margin-right: 3em;
  width: 100%;
  margin-left: 0.1em;
}
.subtitle-container {
  display: flex;
  align-items: center;
  margin-top: 1.2em;
  h2 {
    text-transform: uppercase;
    margin: 0;
    color: #2675bb;
  }
  mat-icon {
    margin-right: 0.5em;
    color: #2675bb;
  }
}


.mat-elevation-z8 {
  overflow: auto;
  max-width: 100%;
}

mat-table {
  width: 100%;
}

.image_radios{
  width: 42px;
  margin-right: 1.2em;
}

.mat-header-cell:first-child,
.mat-cell:first-child {
  flex: 0 0 6em;
  white-space: nowrap;
}

.matFieldTable{
  margin-left: 1.2em;
}
mat-row, mat-header-row, mat-footer-row {
  display: flex;
  border-width: 0;
  border-bottom-width: 0px;
  border-style: none;

}
mat-cell, mat-header-cell, mat-footer-cell {
  justify-content: center;
  font-size: 14px;
}
.signature{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f3f3f3;
    label{
      margin-right: 0.5em;
      margin-top: 1em;
    }
}
.radio-group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.radio {
  margin-top: 1.5em;
}
.first-radio {
  margin-left: 1.2em;
}

.meter__image img {
  max-width: 100%;
  height: auto;
}

.fuel__meter {
  width: 100%;
  /* Agrega otros estilos necesarios */
}
.example-full-width {
  width: 100%;
}
mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
  margin-left: 0.5em;
  color: dodgerblue;
}
@media only screen and (max-width: 600px) {
  .mat-table {
    overflow-x: auto;
    display: block;
  }

  .mat-row,
  .mat-header-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .mat-cell,
  .mat-header-cell {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
  }

  .mat-form-field {
    width: 100%;
  }
  mat-header-row.mat-header-row.cdk-header-row.ng-star-inserted {
    display: none;
}
}


